//定义一个变量 18 像素
$w:18px;
$main-color:red;
$side:bottom;

.box {
    width: $w;
    background-color:$main-color;
    border-#{$side}:1px solid $main-color;
    animation: motion 3s infinite;
            @at-root {
                @keyframes motion {
                }
            }
}

.h {
    $w:10px;    //定义局部
    font-size: 2 * $w;
    height: 4 + $w;
    background-color: $main-color;

    .m {
        width: $w;
        .n {
            height: $w + 10;
            &:hover {
                background-color: #fff;
            }
            
        }
    }

    &:hover {
        background-color: $main-color;
    }
}

.box12 {
    font-size: $w;
}
